﻿@model IEnumerable<ForumModel.Member>

@if (Model.Count() > 0)
{
    <table class="table table-bordered">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.avatarUrl" width="64" height="64" class="img-circle" onerror="this.src = '/img/UserAvatar/default-user.png'" />
                    <a href="@Url.Action("ShowMember", "Member", new { id = item.id })">@item.username </a>
                    joined in @item.MemberInfo.dateReg.Value.ToString("MMM dd yyyy")
                    status:
                    @if (item.banned == true)
                    {
                        <span style="color:red; font-weight:bold">Banned</span>
                    }
                    else
                    {
                        <span style="color:green; font-weight:bold">Active</span>
                    }
                </td>
                <td>
                    <button class="btn btn-default" style="float:left" onclick="editAccount(@item.id)">Edit</button>
                    <button class="btn btn-default" style="float:left" onclick="banAccount(@item.id)">Ban</button>
                </td>
            </tr>
        }
    </table>
}
else
{
    <span style="color:red">No user found!!!</span>
}