﻿@model ForumModel.Member

<div class="panel panel-primary" style="padding: 0px 20px">
    <div class="panel-heading" align="center">@Model.username</div>
    <div class="panel-body" align="center">
        <a href="javascript:void(0)" class="thumbnail">
            <img id="avatarImg" src="@Model.avatarUrl" alt="Image not found" onerror="loadDefaultAvatar()" />
        </a>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            @Html.LabelFor(x => x.id)
            @Html.DisplayTextFor(x => x.id)
        </li>
        <li class="list-group-item">
            @Html.LabelFor(x => x.MemberInfo.dateReg)
            @Html.DisplayTextFor(x => x.MemberInfo.dateReg)
        </li>
        <li class="list-group-item">
            @Html.LabelFor(x => x.MemberInfo.likes)
            @Html.DisplayTextFor(x => x.MemberInfo.likes)
        </li>
        <li class="list-group-item">
            @Html.LabelFor(x => x.MemberInfo.dislikes)
            @Html.DisplayTextFor(x => x.MemberInfo.dislikes)
        </li>
        <li class="list-group-item">
            @Html.LabelFor(x => x.MemberInfo.thanks)
            @Html.DisplayTextFor(x => x.MemberInfo.thanks)
        </li>
        @if (ViewBag.IsCurrentUserAdmin == true)
        {
            <li class="list-group-item">
                @Html.ActionLink("Admin Tools", "Tools", "Administrator", null, new { @class = "btn btn-default" })
            </li>
        }
    </ul>
</div>
