﻿@model ForumModel.ThreadPost

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<script type="text/javascript" src="~/js/jquery.selection.js"></script>
<script type="text/javascript" src="~/js/postJS.js"></script>

<br />
<div class="panel panel-primary">
    <div class="panel-heading">You are creating new thread on category <a href="@Url.Content("Category/"+ViewBag.CategoryID)"><span style="color:red">@ViewBag.CategoryName</span></a></div>
    <div class="panel-body">
        @using (Html.BeginForm("Create", "Post", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <ul class="list-group">
                <li class="list-group-item">
                    @Html.LabelFor(x => x.post.postName)
                    @Html.TextBoxFor(x => x.post.postName, new { style = "width:100%", @Value = "Your title goes here" })
                </li>
                <li class="list-group-item">
                    <input id="selectedIconID" type="hidden" name="selectedIconID" value="0" selected/>
                    <label>Icons</label>
                    <input type="radio" for="@Model.post.postIconID" value="0" onclick="changeIconID(this.value)" /><span>No icon</span>
                    @for (int i = 1; i < Model.icons.Length; i++)
                    {
                        var item = Model.icons[i];
                        <input type="radio" for="@Model.post.postIconID" value="@i" onclick="changeIconID(this.value)" />
                        <label width="10%"><img src="@Url.Content(item)" /></label>
                    }
                </li>
                <li class="list-group-item">
                    <label for="@Model.comment.commentData">What do you want to express?</label>
                    <br />
                    <div>
                        <button id="btnBold" type="button" class="btn btn-sm btn-default" onclick="boldIt()"><strong>B</strong></button>
                        <button id="btnItalic" type="button" class="btn btn-sm btn-default" onclick="italicIt()"><i>I</i></button>
                        <button id="btnUnderline" type="button" class="btn btn-sm btn-default" onclick="underlineIt()"><u>U</u></button>
                        <select id="selFontSize" onchange="changeFontSize()"><option value="--" selected>Font Size</option><option value="14" style="font-size:14px">14</option><option value="16" style="font-size:16px">16</option><option value="18" style="font-size:18px">18</option><option value="20" style="font-size:20px">20</option><option value="22" style="font-size:22px">22</option></select>
                        <select id="selFontStyle" onchange="changeFontStyle()"><option value="--" selected>Font Style</option><option value="Times New Roman" style="font-family:'Times New Roman', Times, serif">Times New Roman</option><option value="Comic Sans MS" style="font-family:Comic Sans MS">Comic Sans MS</option><option value="Courier New" style="font-family:Courier New, Courier, monospace">Courier New</option></select>
                    </div>
                    @Html.TextAreaFor(x => x.comment.commentData, new { style = "width:100%; height:200px", @id = "inputText", contenteditable = true, required = true })
                </li>
            </ul>
            <button type="submit" class="btn btn-default" align="center">Post now</button>
        }
    </div>
</div>
<br />

