﻿@model IEnumerable<ForumModel.Comment>


@foreach (var item in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading" style="height:30px">
            @item.dateComment.Value.ToString("MMM dd yyyy")
        </div>
        <div class="panel-body">
            <div class="well well-sm col-md-3">
                <div style="text-align:center; font-size:14px"><a href="@Url.Action("ShowMember", "Member", new { id = item.Member.id })">@item.Member.username</a></div>
                <div style="text-align:center"><img src="@item.Member.avatarUrl" class="img-circle" onerror="this.src = '/img/UserAvatar/default-user.png'" /></div>
                <div>
                    <b>Join Date: </b>@item.Member.MemberInfo.dateReg.Value.ToString("MMM dd yyyy")
                </div>
                <div>
                    <b>Like(s): </b>@item.Member.MemberInfo.likes
                </div>
                <div>
                    <b>Thank(s): </b>@item.Member.MemberInfo.thanks
                </div>
                <div>
                    <b>Dislike(s): </b>@item.Member.MemberInfo.dislikes
                </div>
            </div>
            <div class="col-md-9">
                @Html.Raw(File.ReadAllText(Server.MapPath(item.commentData)))
            </div>
        </div>
    </div>
}