﻿@model IEnumerable<ForumModel.Post>

@if (Model.Count() == 0)
{
    <span>No thread in this category. Be the first by <a href="@Url.Action("Create", "Post", new { categoryID = ViewBag.CategoryID })">posting new thread</a></span>
}
else
{
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                @if (item.postIconID != 0)
                {
                    <img src="@Url.Content(item.PostIcon.iconUrl)" />
                }
                <a href="@Url.Action("ShowPost", "Post", new { id = item.id })"><img src="@Url.Action(item.PostIcon.iconUrl)" /><span style="font-size: 16px"><b>@item.postName</b></span></a>
                <br />
                <span style="font-size: 12px">started by <a href="@Url.Action("ShowMember", "Member", new { id = item.Member.id })">@item.Member.username</a> in @Html.DisplayFor(x=>item.datePost). View(s): @(item.numView.HasValue == false ? 0 : item.numView). </span>
                <span style="font-size: 12px">
                    Last comment by @item.Comments.OrderByDescending(x => x.dateComment).FirstOrDefault().Member.username
                    in @item.Comments.OrderByDescending(x => x.dateComment).FirstOrDefault().dateComment.Value.ToString("MMM dd yyyy")
                </span>
            </li>
        }
    </ul>
}

