﻿@model IEnumerable<ForumModel.Post>

@if(Model.Count() == 0)
{
    <h3>You haven't posted any thread</h3>
}
else
{
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <a href="@Url.Action("ShowPost", "Post", new { id = item.id })"><span style="font-size: 13px"><b>@item.postName</b></span></a>
                <br />
                <span>started by @item.Member.username in @item.datePost.Value.ToString("MMM dd yyyy")</span>
            </li>
        }
    </ul>
}
