﻿

@{
    ViewBag.Title = "ShowPost";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<div class="table-responsive" id="commentsInPost">
    @Html.Action("GetCommentsInPost", "Post", new { postID = ViewBag.PostID, page = 1 })
</div>
<div class="col-md-4"></div>
<div class="col-md-8">
    <div class="col-md-1" align="left">
        <button id="prevPage" type="button" class="btn btn-default" value="0" onclick="loadPrevPage()" disabled><span aria-hidden="true">&larr;</span> Previous</button>
    </div>
    <div class="col-md-6" align="center">
        <input id="maxPage" type="hidden" value="@(ViewBag.NumComment / 10)" />
        <input type="hidden" id="postID" value="@ViewBag.PostID" />
        <div align="center">
            Go to page:
            <input type="text" id="curPage" value="1" size="1" style="text-align:right" />
            /@(ViewBag.NumComment / 10)
            <button type="button" class="btn btn-default" onclick="gotoPage();">Go</button>
        </div>
    </div>
    <div class="col-md-1" align="right">
        @if (ViewBag.NumPost > 10)
        {
            <button id="nextPage" type="button" class="btn btn-default" value="2" onclick="loadNextPage();"><span aria-hidden="true">&rarr;</span> Next</button>
        }
        else
        {
            <button id="nextPage" type="button" class="btn btn-default" value="2" onclick="loadNextPage();" disabled><span aria-hidden="true">&rarr;</span> Next</button>
        }
    </div>
</div>
<br /><br />
<div>
    @if (Request.IsAuthenticated)
    {
        <div class="well well-sm">
            @Html.Action("ReplyThread", "Comment", new { postID = ViewBag.PostID }) 
        </div>
    }
    else
    {
        <div class="well well-sm" style="text-align:center">
            <span><a href="@Url.Action("Login", "Account", new { returnUrl = Request.Url.AbsolutePath })">Login</a> to reply in this post</span>
        </div>
    }
</div>
<br />