﻿
@{
    ViewBag.Title = "AboutMe";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<script type="text/javascript" src="~/js/aboutmeJS.js"></script>

<br />
<div class="col-md-4">
    @Html.Action("FindMemberByID", "Member", new { id = ViewBag.MemberID })
</div>
<div class="col-md-8">
    <div class="panel panel-primary" style="padding: 0px 20px">
        <div class="panel-heading">Post(s) by you</div>
        <div class="panel-body">
            <nav>
                <div class="col-md-1" align="left">
                    <button id="prevPage" type="button" class="btn btn-default" value="0" onclick="loadPrevPagePost()" disabled><span aria-hidden="true">&larr;</span> Previous</button>
                </div>
                <div class="col-md-6" align="center" onload="firstLoadPagePost()">
                    <input id="maxPage" type="hidden" value="@(ViewBag.NumPost / 10)" />
                    <input id="userID" type="hidden" value="@ViewBag.MemberID" />
                    <div align="center">
                        Go to page:
                        <input type="text" id="curPage" value="1" size="1" style="text-align:right"/>
                        /@(ViewBag.NumPost / 10) 
                        <button type="button" class="btn btn-default" onclick="gotoPagePost()">Go</button>
                    </div>
                </div>
                <div class="col-md-1" align="right">
                    @if (ViewBag.NumPost > 10)
                    {
                        <button id="nextPage" type="button" class="btn btn-default" value="2" onclick="loadNextPagePost()"><span aria-hidden="true">&rarr;</span> Next</button>
                    }
                    else
                    {
                        <button id="nextPage" type="button" class="btn btn-default" value="2" onclick="loadNextPagePost()" disabled><span aria-hidden="true">&rarr;</span> Next</button>
                    }
                </div>
            </nav>
        </div>
        <div id="postLoaded">
            @*posts load here*@
            @Html.Action("GetPostByMember", "Post", new { memberID = ViewBag.MemberID, page = 1})
        </div>
    </div>
</div>
<br />
