﻿
<h3>External Login</h3>
<div class="list-group" align="left">
    <a href="@Url.Action("FacebookLogin", "Account")" class="list-group-item"><img src="~/img/ExternalLogin/fblogo.png" width="40" height="32"/>Facebook</a>
    <a href="@Url.Action("GoogleLogin", "Account")" class="list-group-item"><img src="~/img/ExternalLogin/gpluslogo.png" width="40" height="40" />Google</a>
    <a href="@Url.Action("TwitterLogin", "Account")" class="list-group-item"><img src="~/img/ExternalLogin/twlogo.png" width="40" height="40"/>Twitter</a>
</div>