﻿@model ForumModel.Member

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <title>Login to continue</title>
</head>
<body>
    <div class="col-md-4" style="border:thick; padding: 40px 0px" align="center"> 
        @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.returnUrl }, FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(x => x.username)
                @Html.TextBoxFor(x => x.username)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.pword)
                @Html.PasswordFor(x => x.pword)
            </div>
            <button class="btn btn-default" type="submit">Login</button>
            <span> or <a href="@Url.Action("Register", "Account")">Register new account</a></span>
        }
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        @Html.Action("ExternalLogin", "Account")
    </div>
</body>
</html>
