﻿@model ForumModel.Member

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="col-md-4"></div>
<div class="col-md-4" align="center">
    <h3>Register new account</h3>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(x=>x.username)
            @Html.TextBoxFor(x=>x.username)
        </div>
        <div class="form-group">
            @Html.LabelFor(x=>x.pword)
            @Html.PasswordFor(x=>x.pword)
        </div>
        <div class="form-group">
            @Html.CheckBox("acceptBox", false) I accept <a href="javascript:void(0)">Term and Condition</a> of this forum.   
        </div>
        <button type="submit" class="btn btn-default">Register</button>
    }
    <br />
</div>
<div class="col-md-4"></div>

