﻿

<table>
    <tr>
        <td>
            <div>
                <input id="txtUsername" style="width:auto; float:left" type="text" class="form-control" placeholder="Username" onkeyup="searchUser()" />
                <input type="image" style="float:left" alt="Search" src="~/img/icons/search.png" onclick="searchUser()" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="showUser">

            </div>
        </td>
    </tr>
</table>