﻿@model ForumModel.Member

@{ 
    var possibleAccess = ViewBag.PossibleGranted as IEnumerable<KeyValuePair<string, string>>;
}

@using (Html.BeginForm("ConfigureAccount", "Administrator", new { id = ViewBag.MemberID }, FormMethod.Post, new { id = "editAccountForm" }))
{
    @Html.AntiForgeryToken()
    <table class="table table-bordered">
        <tr>
            <td>
                <label for="username">Username:</label>
                <label id="username">@Model.username.Trim()</label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="curPassword">Password:</label>
                <input id="curPassword" type="password" disabled value="@Model.pword.Trim()" />
                <a id="showOldPass" href="javascript:void(0)" onclick="showPassword('showOldPass', 'curPassword')">Show</a>
            </td>
        </tr>
        <tr>
            <td>
                <label for="newPassword">New Password:</label>
                <input id="newPassword" name="newPassword" type="password" />
                <a id="showNewPass" href="javascript:void(0)" onclick="showPassword('showNewPass', 'newPassword')">Show</a>
            </td>
        </tr>
        <tr>
            <td>
                <label for="privilege">Access Level:</label>
                <label id="privilege">@Model.Membership.privileges.Trim()</label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="newAccess">New Access</label>
                <input type="hidden" id="newAccess" name="newAccess" value=""/>
                <select id="selAccess" onchange="grantNewAccess()">
                    <option value="--" selected>No change</option>
                    @foreach (var item in possibleAccess)
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td align="center">
                <button type="submit" class="btn btn-default" onclick="submitEditAccount()">Edit</button>
            </td>
        </tr>
    </table>
}