﻿
@{
    ViewBag.Title = "Tools";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<script type="text/javascript" src="~/js/adminJS.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
<br />
<div class="col-md-4 panel panel-primary">
    <div class="panel-heading">Tools for admin</div>
    <div class="panel-body">
        <div class="list-group">
            <button type="button" class="list-group-item" onclick="loadChangeMemberPage()">Change Member Account</button>
            <button type="button" class="list-group-item">Function 2</button>
            <button type="button" class="list-group-item">Function 3</button>
            <button type="button" class="list-group-item">Function 4</button>
        </div>
    </div>
</div>
<div id="viewSection" class="col-md-8">

</div>
<br />

