﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<span>@Html.Action("PrivateCategory", "Home")</span>
<br />
<span>@Html.Action("PublicCategory", "Home")</span>
<br />