﻿@model ForumModel.Post

@if (object.ReferenceEquals(Model, null))
{
    <span>No new post</span>
}
else
{
    <a href="@Url.Action("ShowPost", "Post", new { id = Model.id })"><img src="@Url.Content(Model.PostIcon.iconUrl)" /><span>@Model.postName</span></a>
    <br />
    <span>started by <a href="@Url.Action("ShowMember", "Member", new { id = Model.postMem })">@Html.DisplayFor(x => x.Member.username)</a> in @Html.DisplayFor(x => x.datePost)</span>
}
