﻿@model IEnumerable<ForumModel.Category>

<table class="table-bordered" style="width:100%">
    <tr style="background-color:dimgrey">
        <th style="padding: 0px 10px" colspan="2">
            <color style="color:white"><h3><b>Private Categories</b></h3></color>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="padding: 0px 20px; font-size: 18px; width:60%"><a href="@Url.Content(@item.urlLink)">&middot;@item.fullname</a></td>
            <td style="padding: 0px 10px; width:40%">@Html.Action("NewestPost", "Home", new { category = @item.shortname.Trim() })</td>
        </tr>
    }
</table>
