﻿@model ForumModel.Comment


<script type="text/javascript" src="~/js/jquery.selection.js"></script>
<script type="text/javascript" src="~/js/postJS.js"></script>

@using (Html.BeginForm("ReplyThread", "Comment", new { postID = ViewBag.PostID }, FormMethod.Post))
{
    <button id="btnBold" type="button" class="btn btn-sm btn-default" onclick="boldIt()"><strong>B</strong></button>
    <button id="btnItalic" type="button" class="btn btn-sm btn-default" onclick="italicIt()"><i>I</i></button>
    <button id="btnUnderline" type="button" class="btn btn-sm btn-default" onclick="underlineIt()"><u>U</u></button>
    <select id="selFontSize" onchange="changeFontSize()"><option value="--" selected>Font Size</option><option value="14" style="font-size:14px">14</option><option value="16" style="font-size:16px">16</option><option value="18" style="font-size:18px">18</option><option value="20" style="font-size:20px">20</option><option value="22" style="font-size:22px">22</option></select>
    <select id="selFontStyle" onchange="changeFontStyle()"><option value="--" selected>Font Style</option><option value="Times New Roman" style="font-family:'Times New Roman', Times, serif">Times New Roman</option><option value="Comic Sans MS" style="font-family:Comic Sans MS">Comic Sans MS</option><option value="Courier New" style="font-family:Courier New, Courier, monospace">Courier New</option></select>
    @Html.TextAreaFor(x => x.commentData, new { style = "width:100%; height:200px", @id = "inputText", contenteditable = true, required = true })
    <button type="submit" class="btn btn-sm btn-default" align="center">Submit</button>
}
