﻿
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        There is error occurred!!!
    </div>
    <div class="panel-body">
        @ViewBag.ErrorMessage
    </div>
</div>
<br />

