﻿
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="~/js/forumJS.js"></script>
    <title>MVC Forum</title>
</head>
<body onload="startTime()">
    <div class="container" style="background-color:black">
        <div class="col-md-8">
            <div class="col-md-2">
                <a href="@Url.Action("Index", "Home")"><img src="javascript:void(0)" /></a>
            </div>
            <div class="col-md-6">
                <a href="@Url.Action("Index", "Home")">Home</a>
            </div>
        </div>
        <div class="col-md-4">
            @if (Request.IsAuthenticated)
            {
                <span>@Html.Action("LoadAvatarForm", "Account")</span>
                <span class="text-right" style="text-align:right"><a href="@Url.Action("Logout", "Account")">Logout</a></span>
            }
            else
            {
                <p class="text-right"><a href="@Url.Action("Login", "Account", new { returnUrl = Request.Url.AbsolutePath })">Login</a></p>
            }
        </div>
    </div>
    <div class="container"> 
        @RenderBody()
    </div>
    <div class="container" style="background-color:deepskyblue">
        <p class="text-center">
            @@2016 | Vinh Xuan Do | vinhxuando@@gmail.com
        </p>
        <p class="text-center" id="clock">
            
        </p>
    </div>
</body>
</html>
