﻿@model IEnumerable<ForumModel.Post>

@{
    ViewBag.Title = "GetPostsInCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<script type="text/javascript" src="~/js/categoryJS.js"></script>

<br />
<div class="panel panel-primary">
    <div class="panel-heading">@ViewBag.CategoryName</div>
    <div id="postsInCategory" class="panel-body">
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    @if (item.postIconID != 0)
                    {
                        <img src="@Url.Content(item.PostIcon.iconUrl)" />
                    }
                    <a href="@Url.Action("ShowPost", "Post", new { id = item.id })"><span style="font-size: 16px"><b>@item.postName</b></span></a>
                    <br />
                    <span style="font-size: 12px">started by <a href="@Url.Action("ShowMember", "Member", new { id = item.postMem })">@item.Member.username</a> in @item.datePost. View(s): @(item.numView.HasValue == false ? 0 : item.numView). </span>
                    <span style="font-size: 12px">
                        Last comment by @item.Comments.OrderByDescending(x => x.dateComment).FirstOrDefault().Member.username
                        in @item.Comments.OrderByDescending(x => x.dateComment).FirstOrDefault().dateComment.Value.ToString("dd/MM/yyyy")
                    </span>
                </li>
            }
        </ul>
    </div>
</div>
<div class="col-md-4">
    <a href="@Url.Action("Create", "Post", new { categoryID = ViewBag.CategoryID })" class="btn btn-default" type="button">Create new post</a>
</div>
<div class="col-md-8">
    <div class="col-md-1" align="left">
        <button id="prevPage" type="button" class="btn btn-default" value="0" onclick="loadPrevPagePostInCategory()" disabled><span aria-hidden="true">&larr;</span> Previous</button>
    </div>
    <div class="col-md-6" align="center" onload="loadPageInCategory(@ViewBag.CategoryID, 1);">
        <input id="maxPage" type="hidden" value="@(ViewBag.NumPost / 10)" />
        <input type="hidden" id="categoryID" value="@ViewBag.CategoryID" />
        <div align="center">
            Go to page:
            <input type="text" id="curPage" value="1" size="1" style="text-align:right" />
            /@(ViewBag.NumPost / 10)
            <button type="button" class="btn btn-default" onclick="gotoPagePostInCategory();">Go</button>
        </div>
    </div>
    <div class="col-md-1" align="right">
        @if (ViewBag.NumPost > 10)
        {
            <button id="nextPage" type="button" class="btn btn-default" value="2" onclick="loadNextPagePostInCategory();"><span aria-hidden="true">&rarr;</span> Next</button>
        }
        else
        {
            <button id="nextPage" type="button" class="btn btn-default" value="2" onclick="loadNextPagePostInCategory();" disabled><span aria-hidden="true">&rarr;</span> Next</button>
        }
    </div>
</div>
<br /><br />

